




body
{
    margin:0;
    padding:0;
}


.timetext
{
    font-size: 60px;
    color: rgb(54, 136, 0);
    display: flex;
    justify-content: center;
}


.timesection
{

    margin-left: 520px;
    height: 100px;
    width: 500px;
    font-size: 70px;
}



























































